.preloader {
  position: relative;  
  z-index: 9999;
  background-color: #fff;
  margin-top: 50px;
  display: none;
}
.preloader .loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font: 14px arial;
  display: inline !important;
}