#div-login{
	background-image:url('/img/login_bg.png');
	background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: cover;
}

.form-login{
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
	border-radius: 0px;
}

.form-login:focus{
    background-color: transparent !important;
    border-color: black !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.btn-login{
	background-color: #00AA4E;
	color: whitesmoke;
	border-radius: 5px;
}

.btn-login:hover{
	color: white;
	background-color: #00AA4E;
}

.btn-register{
	background-color: #BFD730;
	color: white;
	border-radius: 5px;
}

.btn-register:hover{
	color: white;
	background-color: #BFD730;
}
.navbar-laravel{
	background: linear-gradient(to right, #004E43, #00AA4E, #BFD730);
}
