@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
/*@import url(preloader.css);*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900);
a,
a:focus {
	text-decoration: none
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Titillium Web', sans-serif
}

body,
html {
	background-color: green;
	background-image: linear-gradient(to left bottom , #71BF43,#00AA4E,#004E43);
}

body {
	font-size: 1.6em;
	font-weight: 400;
	color: #FFF
}

ul {
	padding: 0;
	margin: 0;
	list-style: none
}

a:focus {
	outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #FFF
}

a,
a:focus,
a:hover {
	color: #FFF;
	cursor:pointer;
}

.btn-primary {
	background-color: #71BF43;
	border-color: #71BF43
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #A3CB38;
	border-color: #A3CB38;
}

.brand-logo {}

.authfy-login {
	background-color: transparent;
	height: 570px;
	margin: 70px auto;
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
}

.authfy-login .authfy-panel {
	padding: 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all .5s ease;
	opacity: 0;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%)
}

.authfy-panel .authfy-heading {
	margin-bottom: 30px
}

.authfy-login .auth-title {
	font-weight: 700;
	margin-top: 0
}

.authfy-login .authfy-panel.active {
	opacity: 1;
	transform: translateX(0);
	-webkit-transform: translateX(0)
}

.authfy-login .social-buttons a {
	color: #fff
}

.authfy-login .social-buttons a:hover {
	color: #fff;
	opacity: .9
}

.authfy-login .social-buttons .btn-facebook {
	background: #3b5998
}

.authfy-login .social-buttons .btn-twitter {
	background: #00aced
}

.authfy-login .social-buttons .btn-google {
	background: #c32f10
}

.authfy-login .loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: .3em;
	padding-top: .5em;
	padding-bottom: .5em
}

.authfy-login .loginOr .hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0!important;
	margin-bottom: 0!important
}

.authfy-login .loginOr .spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -.75em;
	margin-left: -1.5em;
	background-color: #fff;
	width: 3em;
	text-align: center
}

.panel-login .remember-row {
	margin-bottom: 10px
}

.panel-login .remember-row label {
	font-weight: 400;
	position: relative;
	cursor: pointer;
	color: #FFF;
	padding-left: 24px
}

.authfy-login .forgotPwd {
	text-align: right;
	margin-top: 10px
}

.panel-forgot .form-control,
.panel-login .form-control,
.panel-signup .form-control {
	color: #FFF;
	background: transparent;
	font-size: 16px;
	height: 50px;
	padding: 12px 0;
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.panel-forgot .form-control:focus+.focus-input:before,
.panel-login .form-control:focus+.focus-input:before,
.panel-signup .form-control:focus+.focus-input:before {
	width: 100%
}

.wrap-input {
	width: 100%;
	position: relative;
	border-bottom: 2px solid #d9d9d9
}

.focus-input,
.focus-input:before {
	display: block;
	position: absolute;
	left: 0
}
::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}
.focus-input {
	width: 100%;
	height: 100%;
	top: 0;
	pointer-events: none
}

.focus-input:before {
	background-color: #FFF;
	content: "";
	width: 0;
	height: 2px;
	bottom: -2px;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s
}

.authfy-panel.panel-forgot {
	padding-top: 85px
}

.pwdMask {
	position: relative
}

.pwdMask .pwd-toggle {
	color: #fff;
	position: absolute;
	z-index: 2
}

.panel-login .pwdMask .pwd-toggle {
	top: 12px;
	right: 15px
}

.panel-signup .pwdMask .pwd-toggle {
	top: 15px;
	right: 15px
}

.pwdMask .pwd-toggle:focus,
.pwdMask .pwd-toggle:hover {
	cursor: pointer
}

.pwdMask .pwd-toggle.fa-eye,
.pwdMask .pwd-toggle:focus,
.pwdMask .pwd-toggle:hover {
	color: #FFF
}

.panel-signup .term-policy a {
	text-decoration: underline
}

.checkbox input[type=checkbox] {
	position: absolute;
	right: 9000px;
	opacity: 0;
	z-index: 1;
	cursor: pointer
}

.checkbox input[type=checkbox]+.label-text:after,
.checkbox input[type=checkbox]+.label-text:before {
	font-size: 11px;
	display: inline-block;
	width: 17px;
	height: 17px;
	padding: 2px;
	margin-left: 0;
	position: absolute;
	top: 2px;
	left: 0
}

.checkbox input[type=checkbox]+.label-text:before {
	content: "";
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 3px;
	cursor: pointer;
	transition: border .15s ease-in-out, color .15s ease-in-out
}

.checkbox input[type=checkbox]+.label-text:after {
	background-color: #4f77ff;
	color: #fff;
	border-radius: 2px;
	border-color: #4f77ff;
	line-height: 1.4
}

.checkbox input[type=checkbox]:focus+.label-text:before {
	outline: dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px
}

.checkbox input[type=checkbox]:checked+.label-text:after {
	font-family: FontAwesome;
	content: "\f00c"
}

@media (min-width:320px) and (max-width:375px) {
	.authfy-login .authfy-panel {
		padding: 32px
	}
	.panel-login .remember-row {
		margin-bottom: 10px;
		font-size: 14px
	}
}

@media (max-width:320px) {
	.authfy-heading p {
		font-size: 14px
	}
	.remember-row .col-sm-6 {
		width: 100%
	}
	.authfy-login .forgotPwd {
		text-align: left;
		margin-top: 0
	}
}
